.container {
    max-width: var(--max-width);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    padding: 16px;
    overflow: hidden;
}

.button-color-active {
    color: black;
}

.button-color-inactive {
    color: rgb(119, 119, 119);
}

.cta-arrow {
    opacity: 0;
    transition: opacity .3s;
}

.point-color-active {
    background-color: black;
}

.point-color-inactive {
    background-color: gray;
}

.banner_header {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
}

.banner_container h1 {
    font-size: 36px;
    font-weight: 600;
    color: #575757
}

.banner_container p {
    margin-top: 8px;
    font-size: 20px;
    line-height: 24px;
    max-width: 500px;
    color: #828282;
}

.banner_container .desktop-cta {
    margin-top: 2rem;
    border-radius: 7px;
    padding: 1rem 2rem;
    border: 0;
    background-color: white;
    transition: background .6s;
}

.image_container {
    display: flex;
    background-color: rgb(82, 82, 82);
    border-radius: 7px;
    list-style-type: none;
    width: 100%;
    height: 400px;
    margin-right: 16px;
}

.image_container img {
    min-width: 100%;
    height: 100%;
    object-fit: cover !important;
    border-radius: 7px;
}

.hero_controls {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mouse-scroll {
    margin-top: 1rem;
    height: 30px;
}

.image_navigation {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.image_navigation i {
    cursor: pointer;
}

.image_navigation i:hover {
    opacity: 0.5;
}

.lottie-container {
    position: relative;
    width: 25px;
    height: 25px;
    /* border: 1px solid red; */
    display: flex;
}

.lottie-circle {
    position: absolute;
    top: 0;
}

.pause-play-button {
    margin: auto;
    /* border: 1px solid green; */
}

.point {
    width: 5px;
    height: 5px;
    border-radius: 50%;
}

.point:hover {
    opacity: .5;
}

.hero_controls input {
    max-width: 600px;
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: -2rem;
    border: 0;
    border-radius: 7px;
}

.swiper {
    width: 100%;
    height: 250px;
}

.swiper-wrapper {
    align-items: end !important;
}

.swiper-slide {
    padding: 2rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 300px !important;
    gap: 8px;
    height: fit-content !important;
    border-radius: 10px;
    transition: transform .3s;
    cursor: pointer;
}

.swiper-slide:hover {
    transform: translateY(-15px) !important;
}

.swiper-slide h1 {
    color: #575757;
    font-weight: bold;
}

.swiper-slide p {
    color: #828282;
}

.swiper-slide i {
    margin-bottom: 1rem;
    transition: color .3s;
}

.swiper-slide:hover i {
    color: lightgreen;
}

@keyframes fade-right {
    from {
        transform: translateX(-20px);
        opacity: .6
    }

    to {
        transform: translateX(0);
        opacity: 1
    }
}

@keyframes fade-left {
    from {
        transform: translateX(20px);
        opacity: .6
    }

    to {
        transform: translateX(0);
        opacity: 1
    }
}

/* Responsiveness */

@media only screen AND (max-width: 800px) {

    .swiper {
        width: unset;
    }

    .hero_controls input {
        max-width: 100%;
    }

    .container {
        padding: 0;
    }

    .image_container img {
        border-radius: 0px;
    }

    .banner_header {
        display: flex;
        flex-direction: column-reverse;
    }

    .banner_container h1 {
        font-size: 24px;
    }

    .banner_container p {
        font-size: 16px;
        line-height: 24px;
    }

    .swiper-slide {
        width: 400px !important;
    }

    .image_container {
        margin-right: 0;
        height: 300px;
    }

    .hero_controls,
    .banner_container {
        padding: 0 1rem;
    }

    .banner_container {
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

}

@media only screen AND (max-width: 480px) {

    .banner_header {
        grid-template-columns: 1fr;
    }

    .image_container {
        border-radius: 0;
    }

    .image_container img {
        object-fit: cover !important;
    }

    .banner_container {
        max-height: 170px;
        justify-content: start;
    }

    .mouse-scroll {
        display: none;
    }

    .desktop-cta {
        margin-top: 0 !important;
        background-color: transparent !important;
        padding: 0 !important;
    }

    .cta-arrow {
        opacity: 1;
    }

    .cta-container {
        display: flex;
        gap: 8px;
        align-items: center;
        justify-content: start;
    }

    .image_navigation {
        background-color: rgba(235, 235, 235, 0.76);
        padding: 1rem;
        border-radius: 7px;
        position: absolute;
        top: 180px;
    }

    .button-color-active {
        color: rgb(0, 0, 0);
    }

    .button-color-inactive {
        color: rgb(97, 97, 97);
    }

    .point-color-active {
        background-color: rgb(0, 0, 0);
    }

    .point-color-inactive {
        background-color: rgb(83, 83, 83);
    }

    #pause-play {
        color: rgb(73, 73, 73);
    }

}